:root {
    --clr-primary-500:hsl(185, 75%, 39%); /* Dark cyan:*/
    --clr-primary-600:hsl(229, 23%, 23%); /* Very dark desaturated blue:*/
    --clr-primary-700:hsl(227, 10%, 46%); /*Dark grayish blue:*/
  
    --clr-secondary-600:hsl(0, 0%, 59%); /*Dark gray*/

    --ff-prime: 'Kumbh Sans', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-500: 1rem;
    --fs-600: 1.25rem; 
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin:0;
    padding:0;
    font:inherit;
}

ul {
    list-style: none;
}

html,body{
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    font-family: var(--ff-prime);
    font-weight: var(--fw-regular);
    font-size: var(--fs-600);
    background-color: var(--clr-primary-500); 
    background-image: url("../images/bg-pattern-top.svg") , url("../images/bg-pattern-bottom.svg");
    background-position: right 52vw bottom 35vh, left 50vw top 52vh;
    background-repeat: no-repeat;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    }

section {
    position: relative;
    z-index: 100;
    min-height:380px;
    background-color: #fff;
    border-radius: 16px;
        
}
  
.background {
    width:350px;
    height: 140px;
    background-image: url("../images/bg-pattern-card.svg");
    border-radius: 16px 16px 0 0;
}

.overlay-hero {
    position: absolute;
    top:96px;
    left:123px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-hero {
    border-radius: 50%;
    border: 6px solid #fff;
       
}
    
.heading-conteiner {
    margin:4em 0 0 0;
    display:flex;
    justify-content: center;
    align-items: center;    
}
    
h2 {
    font-size: 1rem;
    font-weight: var(--fw-bold);
    color: var(--clr-primary-600);
    text-align: center;
}
    
.heading-age {
    margin-left: 0.5rem;
    font-size: 1rem;
    font-weight: var(--fw-bold);
    color: var(--clr-secondary-600);
       
}
    
.heading-city {
    margin: 0.3em auto;
    display: block;
    font-size: 0.875rem;
    color: var(--clr-secondary-600);
    text-align: center;
}
    
.line {
    margin: 1.3em 0;
    width:100%;
    height:1px;
    background-color: var(--clr-secondary-600);
}
    
.social-list {
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
    
.social-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.social-value {
        font-size: 1.125rem;
        font-weight: var(--fw-bold);
}
    
.social-type {
    margin-top: 0.3em;
    font-size: 0.75rem;
    color: var(--clr-secondary-600);
    letter-spacing: 1px;
}
